  header {
    font-family: 'Lucida Sans', Verdana, sans-serif;
  }
  
  header, footer {
    background: #58378C;
    color: white;
    padding: 16px;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  main {
    background-color: #EF7D19;
    padding: 16px;
    color: white;
    font-family: 'Lucida Sans', Verdana, sans-serif;
  }
  
  img {
    margin: 32px;
  }
  
  nav{
    display:flex;
    text-decoration: none;
    justify-content: flex-start;
    
  }
  ul{
    display:flex;
    list-style: none;
    justify-content: flex-end;
    gap: 3rem;
  }